body,
.navbar-brand,
.nav-link {
    font-family: 'Syne', sans-serif !important;
    color: #262626;
    outline: none;
}

span.logo {
    border: 1px solid #FF4132;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    text-align: center;
    background-color: #FF4132;
    color: white;
    font-size: 30px !important;
    font-weight: 600;
}
span.logo:focus-visible {
    outline: none;
}

.active {
    border: 1px solid #FF4132 !important;
    border-radius: 3px;
    padding: 0px 10px 0px 10px ;

}

.shadow-box {
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.active a {
    color: #FF4132;
}

.nav-item a:hover {
    color: #FF4132;
}

.introtext {
    color: #FF4132;
}

p {
    text-align: justify;
}

img.profile-img {
    height: 550px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}
.mt-100 {
    margin-top: 100px;
    padding-left: 0px ;
    
}
.heading-text {
    font-weight: 600;
    font-size: 26px;
}
.profile-img-div {
    padding-left: 50px;
}

img.content-img {
    height: 500px;
    width: 100%;
    border-radius: 10px 0px 0px 10px;
}
.smalltext{
    font-size: 16px;
    font-weight: 600;
}
.head-text {
    font-size: 24px;
    font-weight: 600;
}
.desc-text {
    font-size: 16px;
}
.primary-btn {
    width: 100%;
    padding: 10px 10px 10px 10px;
}

.btn-color {
    background-color: #FF4132;
    color: white;
}

small {
    font-size: 12px;
}

.featured-head {
    margin: 0px !important;
}

h3.top-allign {
    margin-top: 30px !important;
}

h4.top-allign {
    margin-top: 50px !important;
}

.social {
    margin-right: 15px;
    font-size: 20px;
    color: rgb(150, 135, 135);

}

a {
    text-decoration: none;
}

button a {
    color: white;
}

li a {
    color: #262626;
}

li a:hover {
    color: #FF4132;
}

li {
    list-style: none
}

ul {
    padding-left: 0px !important;
}

.footer-bottom {
    background-color: #FF4132;
    color: white !important;
    ;
}

.footer-design {
    background-color: #F1F1F1;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.section-bg {
    background-color: #F1F1F1;
    border-radius: 10px;
}

.image-padding-none {
    padding-left: 0px;
    border-radius: 10px;
}

.btn:hover {
    background-color: #FF4132 !important;
    color: white;
}

.btn:active {
    background-color: #FF4132 !important;
    color: white !important;
    outline: none !important;
}
.social {
    margin-right: 15px;
    font-size: 24px;
    color: #262626;
    size: 24px;
}
.footer-text {
    font-size: 16px;
    font-weight: 600;
}